

@media
only screen
and (min-device-width: 1800px){

    .project-add-div{
        position: absolute;
        width: 420px;
        height: 280px;
        left: 70px;
        top: 70px;
        border-radius: 22px;
    }

    .project-choice-div{
        position: absolute;
        left: 37%;
        top: 33%;
        width: 500px;
        height: 250px;
        border-radius: 22px;
    }

    .project-chooser-title{
        position: absolute;
        left: 177px;
        top: 30px;
        font-size: 2em;
        font-weight: bold;
        color: white;
    }

    .project-choice-sel-div{
        position: absolute;
        top: 90px;
        left: 120px;
    }

    .project-choice-sel-div i:hover{
        opacity: 0.5;
    }

    .project-choice-sel{
        width: 250px;
        float: left;
    }

    .project-desc-inpt{
        position: absolute;
        left: 10px;
        width: 400px;
        height: 150px;

    }

    .project-sel-add-btn{
        position: absolute;
        color: white;
        margin-left: 10px;
        font-size: 2.5em;
    }

    .project-title-div{
        font-size: 2em;
        color: white;
        margin-top: 2%;
        margin-left: 35%;
        font-weight: bold;
    }

    .project-name-div{
        width: 250px;
        text-align: center;
    }

    .project-name{
        postion: relative;
        left: 10px;
        font-size: 1.2em;
        font-weight: bold;
    }

    .project-name-inpt{
        margin-left: 70px;
        width: 250px;
    }

    .project-sbmt-btn{
        font-weight: bold;
        font-size: 1.2em;
        position: absolute;
        top: 240px;
        left: 170px;
    }

    .input-sel-btn{
        position: absolute;
        font-weight: bold;
        font-size: 1.2em;
        left: 200px;
        top: 170px;
        width: 100px;
        height: 30px;
    }

    .project-add-rem-btn-div{
        position: absolute;
        top: 12px;
        left: 280px;
        font-size: 1.5em;
        color: white;
    }

    .project-add-rem-btn-div i:hover{
        opacity: 0.5;
    }

}
