
/* Stylesheet editor div */
.textedit-stylesheet-div{
    position: absolute;
    top: 20px;
    left: 500px;
    width: 400px;
    height: 300px;
    border-radius: 22px;
}


/* stylesheet editor title */
.textedit-stylesheet-title-div{
   position: relative;
   width: 400px;
   text-align: center;
   color: white;
   font-size: 1.7em;
   font-weight: bold;
   margin-top: 5px;
   z-index: 10;
}


.textedit-stylesheet-title-type{
    margin-left: 10px;
}


.textedit-stylesheet-title-exit{
    font-size: 1em;
    color: white;
    margin-left: 5px;
}

.textedit-stylesheet-title-exit i:hover{
    opacity: 0.5;
}

/* stylesheet editor edit area */
.textedit-stylesheet-edit-area{
    position: relative;
    margin-left: 10px;
    margin-top: 2px;
    background-color: white;
    height: 230px;
    width: 380px;
    overflow-y: scroll;
}


/* stylesheet editor buttons */
.textedit-class-add-div{
    float: left;
    position:relative;
    font-size: 2.5em;
    font-weight: bold;
    font-bold: weight;
    color: white;
    margin-left: 11px;
    margin-top: 2px;
}


.textedit-class-add-div i:hover{
    opacity: 0.5;
}


.textedit-stylesheet-sbmt-div{
    float: left;
    position:relative;
    font-size: 2.5em;
    font-weight: bold;
    font-bold: weight;
    color: white;
    margin-left: 11px;
    margin-top: 4px;
}


.textedit-stylesheet-sbmt-div i:hover{
    opacity: 0.5;
}


/* stylesheet class editor inputs */
.textedit-stylesheet-class-title{
    position: relative;
    font-size: 1.7em;
    font-weight: bold;
    position: relative;
    margin-left: 10px;
}


.textedit-stylesheet-add-attr-btn{
    position: relative;
}


.textedit-remove-attr-div{

}


.textedit-add-attr-div{
    position: relative;
    margin-top: 5px;
    margin-left: 5px;
    font-size: 1.2em;
    color: green;
}


.textedit-add-attr-div i:hover{
    opacity: 0.5;
}


.textedit-remove-attr-div i:hover{
    opacity: 0.5;
}


.textedit-stylesheet-class-div{
    margin-top: 5px;
}


.textedit-class-name-inpt{
    position:relative;
    float: left;
    width: 200px;
    margin-left: 80px;
}


.textedit-class-sbmt{
    color: green;
    margin-left: 5px;
    font-size: 1.2em;
    margin-top: 2px;
}


.textedit-stylesheet-class-div i:hover{
    opacity: 0.5;
}


.textedit-stylesheet-add-attr-div{
    position: relative;
    color: green;
    font-size: 1.2em;
    margin-top: 10px;
    margin-left: 25px;
}


.textedit-stylesheet-add-attr-div i:hover{
    opacity: 0.5;
}


/* stylesheet attribute editor inputs */
.textedit-stylesheet-class-div{
    position: relative;
    margin-left: 20px;
    margin-top: 5px;
    width: 500px;
    overflow: hidden;
    display: flow-root;
}


.textedit-stylesheet-class-div i:hover{
    opacity: 0.5;
}


.textedit-stylesheet-rem-class-spn{
    color: red;
    margin-left: 5px;
}


.textedit-stylesheet-attr-edit{
    position: relative;
    width: 100px;
    margin-left: 10px;
    margin-top: 5px;
}


.textedit-attr-name-inpt{
    position: relative;
    float: left;
    width: 140px;
}


.textedit-attr-val-inpt{
    position: relative;
    float: left;
    width: 140px;
    margin-left: 10px;
}


.textedit-class-attr-sbmt{
    font-size: 1.2em;
    color: green;
    position: relative;
    float: left;
    width: 30px;
    margin-left: 10px;
    margin-top: 2px;
}


.textedit-class-edit-inpt{
    width: 150px;
    float: left;
}


.textedit-stylesheet-attr-div{
    position: relative;
    font-size: 1.3em;
    font-weight: bold;
    display: flow-root;
}


.textedit-stylesheet-attr-val-name{
    position: relative;
    margin-left: 27px;
}


.textedit-stylesheet-remattr-spn{
    position: relative;
    color: red;
    font-size: 1.2em;
    margin-left: 10px;
}


.textedit-stylesheet-remattr-spn i:hover{
    opacity:0.5;
}
