<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        {% load staticfiles %}
        {% load fontawesome %}
        {% fontawesome_stylesheet %}

        <!-- glyphicons -->
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/material-icons.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap-glyphicon.css' %}"/>

        <!-- jquery ui css -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/ui/jquery-ui.css' %}"/>


        <!-- bootstrap.css -->
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}"/>

        <!-- page css -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/page/page.css' %}"/>

        <!-- editor css -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/editor/editor.css' %}"/>

        <!-- file system css -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/editor/file-system.css' %}"/>

        <!-- pallet css -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/editor/pallet.css' %}"/>

        <!-- project choice css -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/editor/project-choice.css' %}"/>

        <!-- gradients css -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/gradients/gradients.css' %}"/>


        <!-- editor js -->
        <script src="{% static 'js/jquery/jquery-3.3.1.min.js' %}"></script>
        <script src="{% static 'js/ui/jquery-ui.js' %}"></script>
        <script src="{% static 'js/security/cookies.js' %}"></script>
        <script src="{% static 'js/editor/filesystem.js' %}"></script>
        <script src="{% static 'js/editor/pallet.js' %}"></script>
        <script src="{% static 'js/editor/project_gui.js' %}"></script>
        <script src="{% static 'js/editor/project.js' %}"></script>
        <script src="{% static 'js/editor/editor.js' %}"></script>
    </head>
    <body>
        {% csrf_token %}
        <div class="page-background background-dots">

        </div>
        <div class="pallet">

        </div>
        <div class="filesystem">

        </div>
        <div class="editor">

        </div>
    </body>
</html>