<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        {% load staticfiles %}

        <!-- jQuery -->
        <script src="{% static 'js/jquery/jquery-3.3.1.min.js' %}"></script>

        <!-- fontawesome 5.1 -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/fontawesome/all.css' %}"/>
        <!-- fontawesome-free-5.1.1-web/js/fontawesome.min.js -->
        <script src="{% static 'js/fontawesome/all.js' %}"></script>

        <!-- bootstrap -->
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/material-icons.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap-glyphicon.css' %}"/>

        <!-- jquery ui css -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/ui/jquery-ui.css' %}"/>


        <!-- bootstrap.css -->
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}"/>

        <!-- page css -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/page/page.css' %}"/>

        <!-- page inf css -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/page/page-inf.css' %}"/>


        <!-- editor css -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/editor/editor.css' %}"/>

        <!-- file system css -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/editor/file-system.css' %}"/>

        <!-- pallet css -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/editor/pallet.css' %}"/>

        <!-- project choice css -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/editor/project-choice.css' %}"/>

        <!-- gradients css -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/gradients/gradients.css' %}"/>

        <!-- sheet editor css -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/editor/stylesheet-editor.css' %}"/>

        <!-- external script editor css -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/editor/external-script-editor.css' %}"/>

        <!-- external stylesheet editor css -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/editor/external-sheet-editor.css' %}"/>


        <!-- dimension editor css -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/dimensions/dimensions.css' %}"/>

        <!-- dimension pallet css -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/pallet/pallet.css' %}"/>


        <!-- script editor css -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/editor/script-editor.css' %}"/>

         <!-- object creator css -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/creators/object_creator.css' %}"/>

         <!-- object creator css -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/selectors/object-selector.css' %}"/>

        <!-- editor js -->
        <script src="{% static 'js/editor/external_script_editor.js' %}"></script>
        <script src="{% static 'js/editor/external_sheet_editor.js' %}"></script>
        <script src="{% static 'js/angular/angular.min.js' %}"></script>
        <script src="{% static 'js/stringutils/escapeutils.js' %}"></script>
        <script src="{% static 'js/dimensions/dimensions.js' %}"></script>
        <script src="{% static 'js/ui/jquery-ui.js' %}"></script>
        <script src="{% static 'js/security/cookies.js' %}"></script>
        <script src="{% static 'js/editor/sheet-editor.js' %}"></script>
        <script src="{% static 'js/editor/script-editor.js' %}"></script>
        <script src="{% static 'js/editor/filesystem.js' %}"></script>
        <script src="{% static 'js/editor/pallet.js' %}"></script>
        <script src="{% static 'js/editor/project.js' %}"></script>
        <script src="{% static 'js/editor/editor.js' %}"></script>
        <script src="{% static 'js/page/page.js' %}"></script>
        <script src="{% static 'js/elements/element.js' %}"></script>
        <script src="{% static 'js/object_creator/creator.js' %}"></script>
        <script src="{% static 'js/object_creator/element_creator.js' %}"></script>
        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    </head>
    <body>
        {% csrf_token %}
        <div class="container background-dots">
            <div class="page-background">

            </div>
            <div class="user-defined-background">

            </div>
            <div class="pallet">

            </div>
            <div class="filesystem">

            </div>
            <div class="editor container">

            </div>
            <div class="element-area">

            </div>
        </div>
    </body>
</html>