<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        {% load staticfiles %}
        {% load fontawesome %}
        {% fontawesome_stylesheet %}

        <!-- external -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <!-- editor css -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/editor/editor.css' %}"/>

        <!-- file system css -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/editor/file-system.css' %}"/>

        <!-- pallet css -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/editor/pallet.css' %}"/>

        <!-- project choice css -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/editor/project-choice.css' %}"/>

        <!-- editor js -->
        <script src="{% static 'js/security/cookies.js' %}"></script>
        <script src="{% static 'js/editor/editor.js' %}"></script>
    </head>
    <body>
        {% csrf_token %}
        <div class="pallet">
            
        </div>
        <div class="filesystem">

        </div>
        <div class="editor">

        </div>
    </body>
</html>