
.pageinf-div{
    position: absolute;
    top: 10px;
    left: 700px;
    width: 300px;
    height: 100px;
    border-radius: 22px;
}


.pageinf-title-div{
    position: relative;
    font-size: 2em;
    font-weight: bold;
    width: 300px;
    text-align: center;
    margin-top: 5px;
    color: white;
}


.pageinf-page-div{
    font-size: 1.4em;
    width: 300px;
    text-align: center;
    margin-top: 10px;
    color: white;
}


.dimensions-spn{
    margin-left: 10px;
}


.dimensions-rem-btn{
    font-size: 1.3em;
}


.reload-project-div{
    width: 300px;
    text-align: center;
    font-size: 2em;
}


.reload-project-btn{
    border-radius: 10px;
    font-weight: bold;
    font-size: .7em;
}
